.room {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  .room img {
    max-width: 100px;
    border-radius: 5px;
  }
  .buttons {
    margin-top: 10px;
  }
  .buttons button {
    margin-right: 5px;
  }
  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
  }
  .modal-header, .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal-footer button {
    margin-left: 10px;
  }

  #facilities {
    color: green;
  }

  .room {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
  }
  .room img {
    max-width: 10%;
    height: 10%;
    border-radius: 8px;
  }

